<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="basic suite" parallel = 'none'>
    <test name="basic test" preserve-order="true">
        <classes>
            <class name="testngFramework.testNGConcepts.TestNGAnnotations"></class>
            <class name="testngFramework.testNGConcepts.TestNGClass2"></class>
        </classes>
    </test>
</suite>